// Define variables
$primary-color: rgb(211, 242, 73);
$secondary-color: rgba(78, 94, 95, 0.47);

// Use variables in our style
body{
    background-color: $primary-color;
    color: $secondary-color;
}
button{
    background-color: $primary-color;
    color: azure;
    padding: 10px 20px;
}
a{
    color: $secondary-color;
    text-decoration: none;
}