.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-item{
    width: 100px;
    height: 100px;
    background-color: aqua;
    text-align: center;
    line-height: 100px;
}